<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>FabFlix</display-name>
  <welcome-file-list>    
    <welcome-file>Index.jsp</welcome-file>    
  </welcome-file-list>
  <servlet>    
    <description>LeftMenu</description>
    <display-name>menu</display-name>
    <servlet-name>menu</servlet-name>
    <jsp-file>/menu.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>menu</servlet-name>
    <url-pattern>/menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginHelper</servlet-name>
    <servlet-class>FabFlix.LoginHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHelper</servlet-name>
    <url-pattern>/LoginHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Main Page</description>
    <display-name>main</display-name>
    <servlet-name>main</servlet-name>
    <jsp-file>/main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchMovie</servlet-name>
    <servlet-class>FabFlix.SearchMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMovie</servlet-name>
    <url-pattern>/SearchMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingleMovie</servlet-name>
    <servlet-class>FabFlix.SingleMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleMovie</servlet-name>
    <url-pattern>/SingleMovie</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Search</servlet-name>    
    <jsp-file>/Search.jsp</jsp-file>
    </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>SingleStar</servlet-name>
    <servlet-class>FabFlix.SingleStar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleStar</servlet-name>
    <url-pattern>/SingleStar</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>FabFlix.addToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>removeCart</servlet-name>
    <servlet-class>FabFlix.removeCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeCart</servlet-name>
    <url-pattern>/removeCart</url-pattern>
  </servlet-mapping> 
   <servlet>
    <servlet-name>modifyCart</servlet-name>
    <servlet-class>FabFlix.modifyCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyCart</servlet-name>
    <url-pattern>/modifyCart</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>checkout</servlet-name>
    <servlet-class>FabFlix.checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkout</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>checkOutHelper</servlet-name>
    <servlet-class>FabFlix.checkOutHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkOutHelper</servlet-name>
    <url-pattern>/checkOutHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>browsing</servlet-name>
    <servlet-class>FabFlix.browsing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>browsing</servlet-name>
    <url-pattern>/browsing</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>Browse</servlet-name>    
    <jsp-file>/Browse.jsp</jsp-file>
    </servlet>
  <servlet-mapping>
    <servlet-name>Browse</servlet-name>
    <url-pattern>/Browse</url-pattern>
  </servlet-mapping>  
      <servlet>
    <servlet-name>confirmation</servlet-name>    
    <jsp-file>/confirmation.jsp</jsp-file>
    </servlet>
  <servlet-mapping>
    <servlet-name>confirmation</servlet-name>
    <url-pattern>/confirmation</url-pattern>
  </servlet-mapping>    
  <servlet>
    <description>Readme</description>
    <display-name>/report/readme</display-name>
    <servlet-name>readme</servlet-name>
    <jsp-file>/readme.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>readme</servlet-name>
    <url-pattern>/report/readme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Like-predicate</description>
    <display-name>/report/like-predicate</display-name>
    <servlet-name>like-predicate</servlet-name>
    <jsp-file>/like-predicate.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>like-predicate</servlet-name>
    <url-pattern>/report/like-predicate</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>